<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb2.mvc.dao.A04_CalenDao">
	
	<resultMap type="calen" id="calMap">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap>
	<select id="calenList" resultMap="calMap">
		SELECT *
		FROM calendar
	</select>
	
	<insert id="insertCalendar" parameterType="calen">
		INSERT INTO calendar
		VALUES(cal_seq.nextval, '',
			 	#{title}, #{writer}, #{content},
			 	#{start},
			 	#{end},
				#{allDay}, #{textColor}, #{backgroundColor}, #{borderColor})
	</insert>
	
	<update id="updateCalen" >
		UPDATE calendar
			SET title = '',
				start1 = '',
				end1 = '',
				content = '',
				backgroundcolor = '',
	
	</update>
</mapper>