<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="emp" type="springweb2.z02_vo.Emp"/>
		<typeAlias alias="dept" type="springweb2.z02_vo.Dept"/>
		<typeAlias alias="empdept" type="springweb2.z02_vo.EmpDept"/>
		<typeAlias alias="filevo" type="springweb2.z03_vo.FileVo"/>
		<typeAlias alias="calen" type="springweb2.z02_vo.Calendar"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="resource/EmpMapper.xml" />
		<mapper resource="resource/DeptMapper.xml" />
		<mapper resource="resource/AjaxMapper.xml" />
		<mapper resource="resource/ExpMapper.xml" />
		<mapper resource="resource/CalenMapper.xml" />
	</mappers>
</configuration>