<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb2/a00_com/bootstrap.min.css">
<script type="text/javascript" src="/springweb2/a00_com/jquery-3.5.1.js"></script>
<script src="/springweb2/a00_com/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
/* 
점수 : [ ]
*/
//
   $(document).ready(function(){
      var vm = new Vue({
         el:".container",
         data:{
            title:"v-if 디렉티브",
            score:0
         }
      });      
      
   });
</script>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h2>{{title}}</h2>
		</div>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<form class="form-inline" method="post">
				<input class="form-control mr-sm-2" type="text"
					v-model="score">
			</form>
		</nav>
		<table class="table table-hover table-striped">
			<thead>
				<tr class="table-success text-center">
					<th>학점</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center">
					<td v-if="score>=90">A학점</td>
					<td v-else-if="score>=80">B학점</td>
					<td v-else-if="score>=70">C학점</td>
					<td v-else-if="score>=60">D학점</td>
					<td v-else>F학점</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>