<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb2/a00_com/bootstrap.min.css">
<script type="text/javascript" src="/springweb2/a00_com/jquery-3.5.1.js"></script>
<script src="/springweb2/a00_com/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
/*
ex) vue객체를 통한 반복처리
	아래와 같이 모델 데이터를 선언하고,
	해당 모델 데이터를 select의 value와 화면출력 내용
		<option value="속성">	속성값 형식으로 출력하세요..
	모델 데이터
	var regions = {
				"A" : "Asia",
				"B" : "America",
				"C" : "Europe",
				"D" : "Africa",
				"E" : "Oceania"
		};
			지역:
					<select class="form-control mr-sm-2" type="text"
						name="loc"
						<!-- vue로 반복 모델 데이터 호출 처리 -->
						<option value=""></option>
					</select>
ex) 객체형 배열 처리
	회원 정보
	var members=[
		{"no":100,"name":"설현","tel":"010-3456-8299", "address":"서울"},
		{"no":100,"name":"설현","tel":"010-3456-8299", "address":"서울"},
		{"no":100,"name":"설현","tel":"010-3456-8299", "address":"서울"},
		{"no":100,"name":"설현","tel":"010-3456-8299", "address":"서울"},
		테이블로 회원 정보를 v-for를 이용해서 출력
	]
 */
   $(document).ready(function(){
      var vm = new Vue({
         el:".container",
         data:{
            title:"반복문 처리 v-for",
            options : {
    				"A" : "Asia",
    				"B" : "America",
    				"C" : "Europe",
    				"D" : "Africa",
    				"E" : "Oceania"
    			},
            members : [
    				{"no":100, "name":"설현", "tel":"010-3456-8299", "address":"서울"},
    				{"no":99, "name":"설현", "tel":"010-3456-8299", "address":"서울"},
    				{"no":98, "name":"설현", "tel":"010-3456-8299", "address":"서울"},
    				{"no":97, "name":"설현", "tel":"010-3456-8299", "address":"서울"}
    			]
         }
      });  
   });
</script>
</head>
<body>
	<div class="container">
		
		<h3 class="text-center">지역</h3>
		<select class="form-control mr-sm-2" name="loc">
		
			<option value="">지역선택</option>
			<!-- 
				v-for="(속성값, 속성, index) in 모델명"
				v-bind:속성="vue의 변수"
				:속성="vue의 변수"
			 -->
			<option v-for="(val, key, idx) in options"
				v-bind:value="key">{{val}}</option>
		</select>
		
		<table class="table table-hover table-striped">
			<thead>
				<tr class="table-success text-center">
					<th>번호</th><th>이름</th><th>전화</th><th>주소</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center"
					v-for="(mem, idx) in members">
					<td>{{mem.no}}</td>
					<td>{{mem.name}}</td>
					<td>{{mem.tel}}</td>
					<td>{{mem.address}}</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>