<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb2/a00_com/bootstrap.min.css">
<script type="text/javascript" src="/springweb2/a00_com/jquery-3.5.1.js"></script>
<script src="/springweb2/a00_com/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
/*
# 반복문 처리 v-for 디렉티브
1. 여러가지 유형의 배열이나 객체 모델 데이터를 화면에 처리할 때,
주로 사용되는 디렉티브이다.
2. 박복할 요소객체를 출력 directive이다! 속성값을 표시하는
directive와 함께 효과적으로 반복적인 내용을 수행할 수 있다.
3. v-for 처리하는 배열데이터 유형
	1) 기본 단일 type의 배열 모델의 처리..
		var fruits = ["사과","바나나","딸기"];
			index			0		1		2
		모델로 선언된 배열은..
		js) for(var idx in fruits){
				fruits[idx] : 사과, 바나나, 딸기
			}	
			$.each(fruit,function(idx, fruit, arry){
				fruit : 사과, 바나나, 딸기.
			})
		
		<요소객체 v-for="(단위데이터변수, inext) in 배열모델명">
			{{index}} - {{단위데이터변수}}
		형식으로 하여 해당 요소객체를 반복적으로 처리한다.
		ex) <h3 v-for="(fruit, index) in fruits">
				{{index+1}}번째 과일:{{fruit}}
			</h3>
			
	2) 기본 단일 객체형 모델의 처리.
		- 속성, 속성값의 단일 객체{}형식의 모델데이터를 for문으로 처리할 때,
		활용된다.
		var person = {name:"홍길동", age:25, loc:"서울신림동"};
		
		js
		for(var pro in person){
			person[pro] : pro - 속성, person[pro] - 속성값
		}
			{{속성}} - {{속성값}}
		ex) <tr v-for="(varl, pro) in person">
				<td>{{pro}}</td><td>{{val}}</td>
			</tr>
	
	3) 객체형 배열 모델의 처리.
		- 배열 안에 구성요소가 객체가 있을 때, 처리하는 방식..
		var list = [
			{name:"홍길동", kor:80, eng:90, math:100},
			{name:"김길동", kor:90, eng:92, math:110},
			{name:"신길동", kor:85, eng:92, math:100}
		]
		// 반복시 마다, 단위객체로 std에 받아서 처리할 수 있다.
		var std = {name:"홍길동", kor:80 eng:80, math:100};
		<요소객체 v-for="(단위객체, index) in 객체형배열모델"
			{{단위객체.속성}}
 */
//
   $(document).ready(function(){
      var vm = new Vue({
         el:".container",
         data:{
            title:"반복문 처리 v-for",
            fruits:["사과","바나나","딸기"],
            person:{name:"홍길동",age:25,loc:"서울 신림동"},
            list:[
            	{name:"홍길동",kor:80,eng:90,math:100},
            	{name:"신길동",kor:90,eng:92,math:99},
            	{name:"이길동",kor:100,eng:80,math:100}
            ],
            rainbow:["red","주","노","초","파","남","보"],
            books:{title:"자기개발서",publisher:"남원출판사",auth:"김작가",price:10000},
         }
      });  
   });
/*
1. 무지개 색상을 배열로 선언하고, 해당 색상으로 출력처리
2. 단위객체를 book
	제목, 출판사, 저자, 가격을 속성으로 설정하여
	테이블로 출력하세요.
 */
</script>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h2>{{title}}</h2>
		</div>
		<h3 class="text-center">과일</h3>
		<h4 class="text-center" v-for="(fruit,idx) in fruits">
			{{idx+1}}번째 과일 {{fruit}}
		</h4>
		
		<h3 class="text-center">사원 정보(단일객체)</h3>
		<table class="table table-hover table-striped">
			<tbody>
				<tr v-for="(val, pro) in person" class="text-center">
					<th v-text="pro"></th><td>{{val}}</td>
				</tr>
			</tbody>
		</table>
		
		<h3 class="text-center">학생 성적</h3>
		<table class="table table-hover table-striped">
			<thead>
				<tr class="table-success text-center">
					<th>번호</th><th>이름</th><th>국어</th><th>영어</th><th>수학</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(stu, idx) in list" class="text-center">
					<th v-text="idx+1"></th>
					<td>{{stu.name}}</td>
					<td>{{stu.kor}}</td>
					<td>{{stu.eng}}</td>
					<td>{{stu.math}}</td>
				</tr>
			</tbody>
		</table>
		
		<h3 class="text-center">무지개</h3>
		<h4 class="text-center" v-for="(color,idx) in rainbow">
			{{idx+1}}번째 색 {{color}}
		</h4>
		
		<h3 class="text-center">책정보</h3>
		<table class="table table-hover table-striped">
			<tbody>
				<tr v-for="(book, pro) in books" class="text-center">
					<th v-text="pro"></th><td>{{book}}</td>
				</tr>
			</tbody>
		</table>
			
	</div>
</body>